/local.conf
/shale.log
/libs
/target
/project/target
/project/project/target
/http-client/target
/interval/target
/logback-setup/target
/redis-client/target
/selenium-client/target
/shale-lib/target
/shale-http-server/target
/shale-redis/target
/shale-service/target
